html {
  font-size: 16px;
  background-color: lavender;
  color: indigo;
}

body {
  margin: 3rem;
}

header.logo-wrapper {
  text-align: center;
  margin: 1rem auto;
}

section.calculator {
  margin: 1rem auto;
}

section.description {
  max-width: 30rem;
  margin: 1rem auto;
}

footer.ending {
  text-align: center;
  margin: 1rem auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background: lavenderblush;
}

table {
  margin: 0 auto;
}

table tr th {
  font-weight: bold;
}

table tr th,
table tr td {
  border: 2px dotted currentColor;
  padding: 0.5rem;
}

table tr td.td-amount {
  font-weight: bold;
}

table thead tr th {
  border-style: solid;
}

table caption {
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.5rem;
}

input#fabric-weight {
  width: 4rem;
  background: transparent;
  border: 2px solid indigo;
  color: indigo;
  font-weight: bold;
  font-family: monospace;
}

/* to disable zoom on mobile when focusing */
input, textarea {
  font-size: 1rem;
}
